@{
    ViewBag.Title = "About";
}
<main>
    <!-- About US Start -->
    <div class="about-area">
        <div class="container">
            <div class="row mt-10 mb-10">
                <div class="col-lg-8">
                    <!-- Trending Tittle -->
                    <div class="about-right mb-90">
                        <div class="about-img">
                            <img src="/Content/assets/img/post/about_heor.jpg" alt="">
                        </div>
                        <div class="section-tittle mb-30 pt-30">
                            <h3>Đội ngũ phát triển</h3>
                        </div>
                        <div class="about-prea">
                            <p>Trên nền tảng Internet hiện nay có rất nhiều loại website khác nhau, và một trong những website quan trọng và phải kể đến đó chính là website tin tức. Trong những năm gần đây website tin tức ngày càng khẳng định vai trò của mình trên trong xã hội, đáp ứng đa dạng mục tiêu quan tâm của đông đảo người dùng. Với tốc độ phát triển của website tin càng cao, thì các hình thức báo, tạp chí bằng giấy đang ngày càng bị đe doạ. Vậy website tin tức là gì? Để thiết kế website tin tức chuyên nghiệp thì cần có những tính năng gì? </p>
                            <p>
                                Trang tin tức điện tử tổng hợp được hiểu đơn giản đó chính là loại website tổng hợp tất cả tin tức từ những trang thông tin điện tử, báo điện tử khác. Mặc dù trang web này sẽ tổng hợp lại những nguồn thông tin của các web khác, tuy nhiên nó vẫn đảm bảo được tốc độ cập nhật, và có giá trị tương đương với nguồn chính.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-40">
                        <h3>Follow Us</h3>
                    </div>
                    <!-- Flow Socail -->
                    <div class="single-follow mb-45">
                        <div class="single-box">
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="/Content/assets/img/news/icon-fb.png" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="/Content/assets/img/news/icon-tw.png" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="/Content/assets/img/news/icon-ins.png" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="/Content/assets/img/news/icon-yo.png" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- New Poster -->
                    <div class="news-poster d-none d-lg-block">
                        <img src="/Content/assets/img/news/news_card.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About US End -->
</main>
