
@{
    ViewBag.Title = "SendSucces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-bottom: 20px;
    }
</style>

<div class="send-success">
    <h2 style="text-align: center; margin-top: 30px; color: darkgreen">Yêu cầu liên hệ đã được gửi thành công!</h2>
    <img class="center" src="~/Content/img/professional-business-email-template.png" alt="Alternate Text" />
</div>


